NODE_ENV='your-node-environment'

PORT=your-port-number

MONGO_URI='your-mongodb-uri'

JWT_SECRET='your-jwt-secret'

BASE_URL='your-base-url'
BASE_URL_PROD='your-production-base-url'
BASE_URL_DEV='your-development-base-url'

# Firebase API
FIREBASE_API_KEY='your-firebase-api-key'
FIREBASE_AUTH_DOMAIN='your-firebase-auth-domain'
FIREBASE_STORAGE_BUCKET='your-firebase-storage-bucket'
FIREBASE_MESSAGING_SENDER_ID='your-firebase-messaging-sender-id'
FIREBASE_APP_ID='your-firebase-app-id'
FIREBASE_MEASUREMENT_ID='your-firebase-measurement-id'

FIREBASE_TYPE='your-firebase-type'
FIREBASE_PROJECT_ID='your-firebase-project-id'

FIREBASE_PRIVATE_KEY_ID='your-firebase-private-key-id'
FIREBASE_PRIVATE_KEY='your-firebase-private-key'
FIREBASE_CLIENT_EMAIL='your-firebase-client-email'
FIREBASE_CLIENT_ID='your-firebase-client-id'
FIREBASE_AUTH_URI='your-firebase-auth-uri'
FIREBASE_TOKEN_URI='your-firebase-token-uri'
FIREBASE_AUTH_PROVIDER_X509_CERT_URL='your-firebase-auth-provider-x509-cert-url'
FIREBASE_CLIENT_X509_CERT_URL='your-firebase-client-x509-cert-url'
FIREBASE_UNIVERSE_DOMAIN='your-firebase-universe-domain'

# Mailjet API
MAILJET_API_KEY='your-mailjet-api-key'
MAILJET_SECRET_KEY='your-mailjet-secret-key'
NAME='your-admin-name'
EMAIL='your-email-used-for-mailjet'